<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage with Header, Footer, and Left Sidebar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <!-- Header -->
    <header>
        <h1>Global Trade Connect</h1>
    </header>

    <!-- Left Sidebar Navigation -->
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/users">User</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/vendors">Vendor</a></li>
            <li><a href="/products">Product</a></li>
            <li><a href="#">Catogaries</a></li>
        </ul>
    </nav>

    <!-- Main Content Area -->
    <div class="content">
        <h2>{{title}}</h2>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search..." id="searchTxt">
            <button id="searchBtn">Search</button>
        </div>
        <div class="btn">
            <button id="addBtn">ADD</button>
            <button id="editBtn">EDIT</button>
            <button id="deleteBtn">DELETE</button>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Email Id</th>
            </tr>
            {{#each admins}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.email_id}}</td>
                </tr>
            {{/each}}
            
        </table>
        <br>
        <div>
            <button>Previous</button>
            <button>Next</button>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Your Website. All Rights Reserved.</p>
    </footer>

</body>
</html>
